/**
  * @name ProperMessages
  * @author x3non
  * @version v1
  * @description Discord becomes a real messaging system
  * @authorId 332628896497270788
  * @source https://github.com/its-x3non/DiscordSnippets/tree/main/ProperMessages
*/

:root{
	--text-brand: var(--default-accent);
	--text-link: var(--default-accent);
	--mention-foreground: var(--default-accent);
}

/* ========================================= */
/* align self messages to the right by seele */
/*          taken from vencord               */
/* ========================================= */

[class^=messageListItem__][data-is-self="true"] {
margin-left: auto;
width: fit-content;
padding-right: 48px;
  /* [class^=container_], .embedAuthor_cb4bfc { direction: rtl; } */
  /* .embedAuthor_cb4bfc [class^="timestamp"] {  } */
  
  [class^=contents_] {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: 8px;
  }

  [class^=repliedMessage_],
  [class^=contents_] [class*=messageContent__],
    a:not([class*=embed_] [class*=embedAuthorNameLink_]) {
    margin-left: auto;
  }

  [class^=avatar__] {
    left: unset;
    right: -8px;
  }

  /* if you have a decoration on, this should allign */
  [class^=avatar_] + [class^=avatarDecoration_],
  [class^=avatar_] [class^=avatarDecoration_] {
    left: unset;
    right: -12px;
  }

  [class^=header__], [class*=messageContent__] {
    display: flex; 
    flex-direction: row-reverse;
  }
  [class*=timestampInline_] { 
    top: 2px; 
    left: unset;
    right: 8px;
  }
}

/* message bubbles */
[class^=contents_] [class^="markup"]:not(:empty, code),
.container__17159{
  color: var(--default-text-color);
  border: 2px solid var(--default-msg-color);
  background-color: var(--default-msg-color);
  border-radius: 10px;
  max-width: 500px;
  box-sizing: border-box;
  display: inline-block;
  padding: 8px;
  margin: 0;
  position:relative;
} 

/* your color :3 */
.messageListItem__050f9[data-is-self="true"] >
.cozyMessage__9f4fd [class^="contents"] > [class^="markup"]:not(:empty, code),
.messageListItem__050f9[data-is-self="true"] > .cozyMessage__9f4fd .container__17159{
  border: 2px solid var(--self-color);
  background-color: var(--self-color);
  color: var(--self-text-color);
  	--text-brand: var(--self-accent);
	--text-link: var(--self-accent);
	--mention-foreground: var(--self-accent);
} 

/* ======================= */
/* Timestamps by SEELE1306 */
/*  Vencord CSS Snippets   */
/* ======================= */

.contents_d3ae0d [class^="timestamp"] {
  position: relative;
  color: var(--default-text-color);
  letter-spacing: 0.05em;
  font-size: 10px !important;
  margin: 0 4px;
  height: 16px;
  border-radius: 5px;
  top: -4px;
  line-height: 1rem !important;
}

.contents_d3ae0d [class^="botTagCozy_"] {
  line-height: 1rem;
  height: 16px;
  top: 2px;
}

/* if not self */
.contents_d3ae0d [class^="timestamp"]:not(:has(time)) {
  background: var(--default-time-color);
  padding: 0 4px 0 2px;
}

.contents_d3ae0d [class^="timestamp"]:has(time) {
  background: var(--default-time-color);
  border: 1px solid var(--default-time-color);
  padding: 0 4px;
}

/* self time */
.messageListItem__050f9[data-is-self="true"]
.contents_d3ae0d [class^="timestamp"]:not(:has(time)) {
  background: var(--self-time-color);
  color: var(--self-text-color)
}
.messageListItem__050f9[data-is-self="true"]
.contents_d3ae0d [class^="timestamp"]:has(time) {
  background: var(--self-time-color);
  border: 1px solid var(--self-time-color);
  color: var(--self-text-color);
  top: 0;
}

/* ==================================== */
/* username (and tags) and avatar stuff */
/* ==================================== */

/* adds shadowing to avatar (not avatar deco) */
.contents_d3ae0d .avatar__08316 {
  border-radius: 35%;
  box-shadow: 0 2px 4px 1px black;
}

.contents_d3ae0d [class^="avatar"] { top: calc(100% - 48px); } /* aligns avatar with last sent groupStart msg */
.contents_d3ae0d [class^="username"] { top: -1px; } /* moves username up one pixel */

/* bot stuff */
.botTag__11e95:not([class*="botTagOP"]){
  margin-left: 5px;
  top: 0.5px;
  position: relative;
  color: var(--text-normal) !important;
  font-size: 10px !important;
  border-radius: 5px;
  background: hsla(0, 0%, 100%, 0.25);
  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, 0.55);
}

/* === */
/* etc */
/* === */

/* removes the reply/thread stuff */
.repliedMessage__636d2::before, 
.spine_d081ec.cozy__0c529,
.message_ccca67::after
{ display: none; }

/* adds shadow to the reaction thingy */
[class^="container"] .reaction__4a43f{ 
  box-shadow: 0 2px 4px 0.5px black; 
  border: 2px solid var(--default-msg-color);
}

/* fixes */
.content__945f5 [class^="timestamp"]{ top: -1px; }
.content__945f5 { color: rgba(255,255,255,.5) }
